/* Box-sizing reset: https://w3bits.com/?p=3225 */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* The Masonry Container */

.masonry {
    width: 100%s;
    column-gap: 0;
    font-size: 6vw;
}

/* The Masonry Brick */

.item {
    background: #fff;
    display: block;
    position: relative;
}

.item img {
    width: 100%;
    height: auto;
}

.item figure {
    margin: 0;
}

.item figcaption {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    vertical-align: bottom;
    background: rgba(48, 48, 48, 0.2);
    color: white;
    padding-left: 1vw;
    font-weight: bold;
}

/* Masonry on large screens */

@media only screen and (min-width: 1024px) {
    .masonry {
        column-count: 4;
        font-size: 2vw;
    }
}

/* Masonry on medium-sized screens */

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
        column-count: 3;
        font-size: 3vw;
    }
}

/* Masonry on small screens */

@media only screen and (max-width: 767px) and (min-width: 540px) {
    .masonry {
        column-count: 2;
        font-size: 5vw;
    }
}