html {
    box-sizing: border-box;
}

/* *,
*:before,
*:after {
    box-sizing: inherit;
} */

body {
    margin: 0;
    border-width: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

h1,
h2 {
    color: #333;
    text-shadow: #1114 1px 1px 1px;
    text-align: center;
    border-bottom: none;
    padding: 0;
}

#container {
    margin: 0;
    border-width: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background:black;
    position: absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    overflow: auto;
}

#content {
    width: 100%;
    overflow: hidden;
    font-size: 1em;
    background: black;
    max-width: 8096px;
}

#list {
    background: white;
}

.nojs #content {
    column-count: 4;
    column-gap: 0;
}

.item {
    display: block;
    position: relative;
    overflow: hidden;
}

.nojs #content .item {
    display: inline-block;
    width: 100%;
}

.item img {
    width: 100%;
    height: auto;
    transition: all 0.3s;
    transform: scale(1);
    background: white;
}

.item:hover img {
    transform: scale(1.1);
}

.item figure {
    margin: 0;
}

.item figcaption {
    position: absolute;
    bottom: 0;
    width: calc(100% - 1.2em); /* remove left/right padding */
    vertical-align: bottom;
    background: rgba(48, 48, 48, 0.5);
    color: white;
    padding: 0.6em;
    font-weight: bold;
    transition: all 0.3s;
    transform: scale(1);
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .item:hover figcaption {
    transform: scale(1);
    bottom: 50%;
} */

#footer {
    margin: 0;
}

#footer ul {
    margin: 0;
    margin-left: 10%;
}

@media only screen and (min-width: 8096px) {
    h1 {
        font-size: 0.75vw;
    }

    h2 {
        font-size: 0.5vw;
    }

    #content .item {
        width: 3.125%;
    }

    .nojs #content {
        column-count: 32;
    }

    ul {
        column-count: 32;
    }
}

@media only screen and (min-width: 4048px) {
    h1 {
        font-size: 1.5vw;
    }

    h2 {
        font-size: 1vw;
    }

    #content .item {
        width: 6.25%;
    }

    .nojs #content {
        column-count: 16;
    }

    ul {
        column-count: 16;
    }
}

@media only screen and (max-width: 4047px) and (min-width: 2024px) {
    h1 {
        font-size: 3vw;
    }

    h2 {
        font-size: 2vw;
    }

    #content .item {
        width: 12.5%;
    }

    .nojs #content {
        column-count: 8;
    }

    ul {
        column-count: 8;
    }
}

@media only screen and (max-width: 2023px) and (min-width: 1024px) {
    h1 {
        font-size: 6vw;
    }

    h2 {
        font-size: 4vw;
    }

    #content .item {
        width: 25%;
    }

    .nojs #content {
        column-count: 4;
    }

    ul {
        column-count: 4;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    h1 {
        font-size: 6vw;
    }

    h2 {
        font-size: 4vw;
    }

    #content {
        font-size: 1em;
    }

    #content .item {
        width: 33.3333%;
    }

    .nojs #content {
        column-count: 3;
    }

    ul {
        column-count: 2;
    }

    #footer ul li {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 7vw;
    }

    h2 {
        font-size: 5vw;
    }

    #content {
        font-size: 1.2em;
    }

    #content .item {
        width: 50%
    }

    .nojs #content {
        column-count: 2;
    }

    ul {
        column-count: 1;
    }

    #footer ul li {
        font-size: 1em;
    }
}