body {
  margin: 0 auto !important;
}
p#pcs-edit-section-add-title-description {
  display: none !important;
}
span.noviewer {
  display: none !important;
}
.reference-link::after {
  content: none !important;
}
.mw-body h3, .mw-body h2 {
  width: auto;
}

.thumbinner img.pcs-widen-image-override {
  width: auto !important;
    max-width: 100% !important;
}

/* Unfold collapsible tables */
.client-js .collapsible:not(.mw-made-collapsible).collapsed > tbody > tr:not(:first-child) {
  display: block !important;
}
