<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
        function importScript() { return 1 } // this is to avoid the error from site.js
    </script>
    <script src="j/js_modules/masonry.min.js"></script>
</head>

<body class='mw-body-content nojs'>
    <!-- <div id='header'>
        <h1 id='title'>MWOffliner</h1>
    </div> -->
    <div id="content">
        <div id="masonry"></div>
    </div>
    <!-- <div id="footer">
        <h2>More Articles...</h2>
        <ul id="list"></ul>
    </div> -->
</body>

</html>