<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="__RELATIVE_FILE_PATH____RES_DIR__/favicon.png" />
    <script src="./__RES_DIR__/masonry.min.js"></script>
    <script src="./__RES_DIR__/script.js"></script>
  </head>

  <body class="article-list-home mw-body-content nojs">
    <!-- <ul id="list"></ul> -->
    <!-- <div id="container">
        <div id="content">
            <div id="masonry"></div>
        </div>
    </div> -->
  </body>
</html>
