<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
        function importScript() { return 1 } // this is to avoid the error from site.js
    </script>
    <script src="/-/j/js_modules/masonry.min.js"></script>
    <script src="/-/j/js_modules/script.js"></script>
</head>

<body class='article-list-home mw-body-content nojs'>
    <!-- <ul id="list"></ul> -->
    <!-- <div id="container">
        <div id="content">
            <div id="masonry"></div>
        </div>
    </div> -->
</body>

</html>