<script id="mwoffliner-jsConfigVars">
  document.documentElement.classList.replace('client-nojs', 'client-js')
  RLCONF = __PAGE_CONFIGVARS__
  RLSTATE = __PAGE_CSS_STATE__
  RLPAGEMODULES = __PAGE_JS_MODULES__
  ;(RLQ = window.RLQ || []).push(function () {
    mw.config.set(RLCONF)
    mw.loader.state(RLSTATE)
    mw.loader.load(RLPAGEMODULES)
    ;(mw.loader.impl || mw.loader.implement)(function () {
      return [
        'user.options@12s5i',
        function ($, jQuery, require, module) {
          mw.user.tokens.set({ patrolToken: '+\\', watchToken: '+\\', csrfToken: '+\\' })
        },
      ]
    })
  })
</script>
