<script id="mwoffliner-jsConfigVars">
      document.documentElement.classList.replace('client-nojs', 'client-js');
      (RLQ=window.RLQ||[]).push(function(){
        mw.config.set(__ARTICLE_CONFIGVARS__);
        mw.loader.state(__ARTICLE_CSS_STATE__);
        mw.loader.load(__ARTICLE_JS_MODULES__);
        
        (mw.loader.impl||mw.loader.implement)(function(){return["user.options@12s5i",function($,jQuery,require,module){mw.user.tokens.set({"patrolToken":"+\\","watchToken":"+\\","csrfToken":"+\\"});}];});
      });
    </script>