<h1 class="section-heading in-block collapsible-heading open-block" tabindex="0" aria-haspopup="true"
  aria-controls="content-collapsible-block-0" data-section-id='0'>
  <div class="mw-ui-icon mw-ui-icon-arrow mw-ui-icon-element  indicator" title=""></div>
  <span class="mw-headline" id="title_0">{% autoescape false %}{{ lead_display_title }}{% endautoescape %}</span>
</h1>
<div id="mf-section-0" class="mf-section-0 collapsible-block open-block" id="content-collapsible-block-0"
  aria-pressed="true" aria-expanded="true">
  {% autoescape false %}{{ lead_section_text }}{% endautoescape %}
</div>