<!DOCTYPE html>
<html class='client-js'>
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
        function importScript(){return 1} // this is to avoid the error from site.js
    </script>
    __ARTICLE_CSS_LIST__
    __CSS_LINKS__
  </head>
  <body class="mediawiki mw-hide-empty-elt ns-0 ns-subject stable skin-minerva action-view animations">
    <div id="mw-mf-viewport" class="feature-header-v2">
      <div id="mw-mf-page-center">
        <div id="content" class="mw-body">
          <a id="top"></a>
          <div id="bodyContent" class="content">
            <h1 id="titleHeading" style="background-color: white; margin: 0;"></h1>
            <div id="mw-content-text">
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      // this function is to be able to open/close section in mobile version since the code from wiki meant to do that doesn't work
      function toggleOpenSection(id) {
        if (id === 0) return // do not allow to hide the main section
        $('#mf-section-'+id).toggleClass('open-block').prev().toggleClass('open-block')
      }

      window.onload = function () {
        $('.mw-ref').on({
          click: function () {
            var ref = $('#References').closest('h2');
            ref.addClass('open-block');
            ref.next().addClass('open-block');
          }
        })
      }
    </script>
    __ARTICLE_CONFIGVARS_LIST__
    __ARTICLE_JS_LIST__
  </body>
</html>
