<!DOCTYPE html>
<html class='client-js'>
  <head>
    <meta charset="UTF-8"/>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> __ARTICLE_CANONICAL_LINK__ __ARTICLE_CSS_LIST__
    __CSS_LINKS__ __JS_SCRIPTS__ __CSS_LINKS_MOBILE__ __JS_SCRIPTS_MOBILE__
  </head>
  <body class="mediawiki mw-hide-empty-elt ns-0 ns-subject stable skin-minerva action-view animations">
    <div id="mw-mf-viewport" class="feature-header-v2">
      <div id="mw-mf-page-center">
        <div id="content" class="mw-body">
          <a id="top"></a>
          <div id="bodyContent" class="content mw-parser-output">
            <h1 id="titleHeading" style="background-color: white; margin: 0;"></h1>
            <div id="mw-content-text"></div>
          </div>
        </div>
      </div>
    </div>
    __ARTICLE_CONFIGVARS_LIST__
    __ARTICLE_JS_LIST__
    __PCS_JS_OVERRIDE__
  </body>
</html>
