<!doctype html>
<html class="__ARTICLE_HTML_CSS_CLASS__" __ARTICLE_LANG_DIR__>
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    __ARTICLE_CANONICAL_LINK__ __ARTICLE_CSS_BEFORE_META__
    <meta name="ResourceLoaderDynamicStyles" content="" />
    __ARTICLE_CSS_AFTER_META__
    <link rel="stylesheet" type="text/css" href="__RELATIVE_FILE_PATH__mw/site.styles.css" />
    <link rel="stylesheet" type="text/css" href="__RELATIVE_FILE_PATH__mw/noscript.css" />
    <link rel="stylesheet" type="text/css" href="__RELATIVE_FILE_PATH__footer.css" />
    <link rel="stylesheet" type="text/css" href="__RELATIVE_FILE_PATH__vector-2022.css" />
  </head>
  <body class="__ARTICLE_BODY_CSS_CLASS__">
    <div class="mw-page-container">
      <div class="mw-page-container-inner">
        <div class="mw-content-container">
          <main id="content" class="mw-body">
            <header class="mw-body-header vector-page-titlebar">
              <h1 id="firstHeading" class="firstHeading mw-first-heading" __ARTICLE_FIRST_HEADING_STYLE__></h1>
            </header>
            <a id="top"></a>
            <div id="bodyContent" class="vector-body ve-init-mw-desktopArticleTarget-targetContainer" aria-labelledby="firstHeading" data-mw-ve-target-container="">
              <div id="contentSub">
                <div id="mw-content-subtitle"></div>
              </div>
              <div id="mw-content-text" class="mw-body-content"></div>
            </div>
          </main>
        </div>
      </div>
    </div>
    __ARTICLE_CONFIGVARS_LIST__ __ARTICLE_JS_LIST__
  </body>
</html>
