<!DOCTYPE html>
<html class="client-js" __ARTICLE_LANG_DIR__>
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    __ARTICLE_CANONICAL_LINK__ __ARTICLE_CSS_LIST__
    <link rel="stylesheet" type="text/css" href="__RELATIVE_FILE_PATH__footer.css">
    <link rel="stylesheet" type="text/css" href="__RELATIVE_FILE_PATH__vector.css">
  </head>

  <body
    class="mediawiki ltr sitedir-ltr mw-hide-empty-elt ns-0 ns-subject mw-editable skin-vector action-view minerva--history-page-action-enabled skin-vector-legacy"
    cz-shortcut-listen="true"
  >
    <div id="content" class="mw-body" role="main">
      <a id="top"></a>
      <h1 id="firstHeading" class="firstHeading" __ARTICLE_LANG_DIR__><span id="openzim-page-title"></span></h1>
      <div id="bodyContent" class="vector-body">
        <div id="mw-content-text" class="mw-body-content"></div>
      </div>
    </div>
    __ARTICLE_CONFIGVARS_LIST__ __ARTICLE_JS_LIST__
  </body>
</html>
