<!DOCTYPE html>
<html class='client-js'>
  <head>
    <meta charset="UTF-8"/>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> __ARTICLE_CANONICAL_LINK__ __ARTICLE_CSS_LIST__
    __CSS_LINKS__ __JS_SCRIPTS__
  </head>
  <!--
  <body class="mediawiki mw-hide-empty-elt ns-0 ns-subject stable skin-minerva action-view animations">
    <div id="mw-mf-viewport" class="feature-header-v2">
      <div id="mw-mf-page-center">
        <div id="content" class="mw-body">
          <a id="top"></a>
          <div id="bodyContent" class="content mw-parser-output">
            <h1 id="titleHeading" style="background-color: white; margin: 0;"></h1>
            <div id="mw-content-text"></div>
          </div>
        </div>
      </div>
    </div>
  -->
  <body class="skin--responsive skin-vector skin-vector-search-vue mediawiki ltr sitedir-ltr mw-hide-empty-elt ns-0 ns-subject mw-editable page-Nairobi rootpage-Nairobi skin-vector-2022 action-view uls-dialog-sticky-hide" cz-shortcut-listen="true"><a class="mw-jump-link" href="#bodyContent">Jump to content</a>
    <div class="vector-header-container"></div>
    <div class="mw-page-container">
      <div class="mw-page-container-inner">
        <div class="vector-sitenotice-container"></div>
        <div class="vector-column-start"></div>
        <div class="mw-content-container">
          <main id="content" class="mw-body">
            <header class="mw-body-header vector-page-titlebar"></header>
            <div class="vector-page-toolbar"></div>
            <div class="vector-column-end"></div>
            <a id="top"></a>
            <div id="bodyContent" class="vector-body ve-init-mw-desktopArticleTarget-targetContainer" aria-labelledby="firstHeading" data-mw-ve-target-container="">
              <div class="vector-body-before-content"></div>
              <div id="contentSub"></div>
              <h1 id="titleHeading" style="background-color: white; margin: 0;"></h1>
              <div id="mw-content-text" class="mw-body-content"></div>
            </div>
          </main>
        </div>
      </div>
    </div>    
    __ARTICLE_CONFIGVARS_LIST__
    __ARTICLE_JS_LIST__
  </body>
</html>
