<!doctype html>
<html class="__ARTICLE_HTML_CSS_CLASS__" __ARTICLE_LANG_DIR__>
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    __ARTICLE_CANONICAL_LINK__ __ARTICLE_CSS_BEFORE_META__
    <meta name="ResourceLoaderDynamicStyles" content="" />
    __ARTICLE_CSS_AFTER_META__
    <link rel="stylesheet" type="text/css" href="__RELATIVE_FILE_PATH__mw/site.styles.css" />
    <link rel="stylesheet" type="text/css" href="__RELATIVE_FILE_PATH__mw/noscript.css" />
    <link rel="stylesheet" type="text/css" href="__RELATIVE_FILE_PATH__footer.css" />
  </head>

  <body class="mwoffliner-fallback __ARTICLE_BODY_CSS_CLASS__">
    <div id="content" class="mw-body" role="main">
      <a id="top"></a>
      <h1 id="firstHeading" class="firstHeading mw-first-heading"></h1>
      <div id="bodyContent">
        <div id="contentSub">
          <div id="mw-content-subtitle"></div>
        </div>
        <div id="mw-content-text" class="mw-body-content"></div>
      </div>
    </div>
    __ARTICLE_CONFIGVARS_LIST__ __ARTICLE_JS_LIST__
  </body>
</html>
