<!doctype html>
<html class="__PAGE_HTML_CSS_CLASS__" __PAGE_LANG_DIR__>
  <head>
    <meta charset="UTF-8" />
    <title></title>
    __PAGE_JAVASCRIPT__
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="__RELATIVE_FILE_PATH____RES_DIR__/favicon.png" />
    __PAGE_CANONICAL_LINK__ __PAGE_CSS_BEFORE_META__ __PAGE_JS_STARTUP__
    <meta name="ResourceLoaderDynamicStyles" content="" />
    __PAGE_CSS_AFTER_META__
    <link rel="stylesheet" type="text/css" href="__RELATIVE_FILE_PATH____MW_DIR__/site.styles.css" />
    __PAGE_CSS_NOSCRIPT__
    <link rel="stylesheet" type="text/css" href="__RELATIVE_FILE_PATH____RES_DIR__/footer.css" />
    <link rel="stylesheet" type="text/css" href="__RELATIVE_FILE_PATH____RES_DIR__/vector-2022.css" />
    __MATHJAX_SCRIPTS__ __CUSTOM_CSS__ __CUSTOM_JS__
    <script src="__RELATIVE_FILE_PATH____RES_DIR__/script.js"></script>
  </head>
  <body class="__PAGE_BODY_CSS_CLASS__">
    <div class="mw-page-container">
      <div class="mw-page-container-inner">
        <div class="mw-content-container">
          <main id="content" class="mw-body">
            <header class="mw-body-header vector-page-titlebar">
              <h1 id="firstHeading" class="firstHeading mw-first-heading" __PAGE_FIRST_HEADING_STYLE__></h1>
            </header>
            <a id="top"></a>
            <div id="bodyContent" class="vector-body ve-init-mw-desktopArticleTarget-targetContainer" aria-labelledby="firstHeading" data-mw-ve-target-container="">
              <div id="contentSub">
                <div id="mw-content-subtitle"></div>
              </div>
              <div id="mw-content-text" class="mw-body-content"></div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
