<!DOCTYPE html>
<html class="client-js">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    __ARTICLE_CANONICAL_LINK__ __ARTICLE_CSS_LIST__ __CSS_LINKS__ __JS_SCRIPTS__
    <style>.mw-body{margin-left: auto;}</style>
  </head>

  <body
    class="mediawiki ltr sitedir-ltr mw-hide-empty-elt ns-0 ns-subject mw-editable skin-vector action-view minerva--history-page-action-enabled skin-vector-legacy"
    cz-shortcut-listen="true"
  >
    <div id="mw-page-base" class="noprint"></div>
    <div id="mw-head-base" class="noprint"></div>
    <div id="content" class="mw-body" role="main">
      <a id="top"></a>
      <div class="mw-indicators mw-body-content"></div>
      <h1 id="firstHeading" class="firstHeading" lang="en"><span id="openzim-page-title"></span></h1>
      <div id="bodyContent" class="mw-body-content">
        <div id="contentSub"></div>
        <div id="contentSub2"></div>
        <div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr"></div>
        <div class="printfooter"></div>
        <div id="catlinks" class="catlinks" data-mw="interface"></div>
      </div>
    </div>
    <div id="mw-navigation"></div>
    <footer id="footer" class="mw-footer" role="contentinfo"></footer>

    __ARTICLE_CONFIGVARS_LIST__ __ARTICLE_JS_LIST__
  </body>
</html>
