<details id="sub-categories" data-level="2">
    <summary class='section-heading'>
        <h2>Sub-Categories</h2>
    </summary>
    {% if !!prevArticleUrl %}(<a href="{{prevArticleUrl}}" rel="mw:WikiLink">previous page</a>){% endif %}
    {% if !!nextArticleUrl %}(<a href="{{nextArticleUrl}}" rel="mw:WikiLink">next page</a>){% endif %}
    <div class="mwo-groups">
        <ul>
            {% for categoryGroup in groups %}
            <div>
                <h3>{{categoryGroup.title}}</h3>
                <ul>
                    {% for category in categoryGroup.items %}
                    <li><a href="{{category.url}}" rel="mw:WikiLink">{{category.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </ul>
    </div>
    {% if !!prevArticleUrl %}(<a href="{{prevArticleUrl}}" rel="mw:WikiLink">previous page</a>){% endif %}
    {% if !!nextArticleUrl %}(<a href="{{nextArticleUrl}}" rel="mw:WikiLink">next page</a>){% endif %}
</details>