<details id="sub-categories">
    <summary class='section-heading summary-level-2'>Sub-Categories</summary>
    <div class="mwo-groups">
        <ul>
            {% for categoryGroup in groups %}
            <div>
                <h3>{{categoryGroup.title}}</h3>
                <ul>
                    {% for category in categoryGroup.items %}
                    <li><a href="{{category.url}}" rel="mw:WikiLink">{{category.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </ul>
    </div>
</details>