<details id="sub-pages" data-level="2">
    <summary class='section-heading'><h2>Pages</h2></summary>
    <div class="mwo-groups">
        <ul>
            {% for pageGroup in groups %}
            <div>
                <h3>{{pageGroup.title}}</h3>
                <ul>
                    {% for page in pageGroup.items %}
                    <li><a href="{{page.url}}" rel="mw:WikiLink">{{page.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </ul>
    </div>
</details>