name: CI

on:
  pull_request:
  push:
    branches:
      - main
  workflow_call:

jobs:
  build:

    runs-on: ubuntu-22.04

    strategy:
      matrix:
        node-version: [16.x, 18.x]

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - uses: shogo82148/actions-setup-redis@v1
      with:
           redis-version: '6.x'

    - name: installing add on packages
      run: sudo apt install gcc-9 g++-9 python3-pip libbz2-dev ccache zlib1g-dev uuid-dev

    - name: installing dependencies
      run: npm ci
      env:
        PHANTOMJS_CDNURL: https://dev.kiwix.org/mwoffliner/phantomjs

    - name: installing codecov
      run: npm i -g codecov

    - name: installing devtools
      run: dev/install-zimtools.sh

    - name: building
      run: npm run build

    - name: running test with codecov
      run: REDIS=redis://127.0.0.1:6379 ZIMCHECK_PATH=`find .. -name zimcheck` npm run codecov
      env:
        S3_URL: ${{ secrets.S3_URL }}

    - name: running test
      run: npm run jest

    - name: codecov action
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
